* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: monospace;
  padding: 2rem;
}

table {
    width: 50%;
    border-collapse: collapse;
    background: white;
    font-size: 13px;
    box-shadow: 0px 1px 5px 1px #999;
  }
  
  thead {
    background-color: #171819;
    color: white;
  }
  
  th, td {
    padding: 1rem;
    text-align: center;
    
  }

  td {
    border: 1px solid #bbb;
  }

  tr {
    transition: all 0.3s;
  }
  
  tr:nth-child(2n) {
    background-color: #ddd;
  }
  
  tr:hover {
    background-color: #171819;
    color: white;
    font-size: 18px;
  }
  