* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: monospace;
    padding: 2rem;
  }
  
  main {
    background: #fff;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 0 1px 5px 1px #999;
    text-align: center;
  }
  
  h4 {
    font-size: 18px;
    margin: 1rem 0 1rem 0;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    margin: 1rem 0;
  }
  
  a {
    box-shadow: 2px 2px 1px 2px #000;
    text-decoration: none;
    color: #171819;
    background-color: #ddd;
    padding: 0.75rem 1.5rem;
    border-radius: 3px;
    display: inline-block;
    transition: all 0.3s;
  }
  
  a:hover {
    background-color: #171819;
    color: white;
    font-size: 16px;
  }

  span {
    margin-left: 1rem;
  }
  
  form {
    padding: 2rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  form p {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  form label {
    text-align: right;
    width: 90px;
    font-weight: bold;
    font-size: 16px;
  }
  
  form select, input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: monospace;
  }
  
  form input[type="submit"] {
    padding: 0.5rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
  }
  
  form input[type="submit"]:hover {
    background-color: #ddd;
    box-shadow: 0 0 2px 1px #000;
    color: #333;
  }