* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: monospace;
    padding: 2rem;
  }
  
  main {
    background: #eee;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 0 1px 5px 1px #999;
    text-align: center;
  }
  
  h4 {
    font-size: 18px;
    margin-bottom: 1rem;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    margin: 1rem 0;
  }
  
  a {
    box-shadow: 2px 2px 1px 2px #000;
    text-decoration: none;
    color: #171819;
    background-color: #ddd;
    padding: 0.75rem 1.5rem;
    border-radius: 3px;
    display: inline-block;
    transition: all 0.3s;
  }
  
  a:hover {
    background-color: #171819;
    color: white;
    font-size: 16px;
  }

  span {
    margin-left: 1rem;
  }
  